* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

.header {
    display: flex;
    flex-basis: 100%;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 150px 20px 150px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

.navigation a {
    color: white;
    text-decoration: white;
} 

.header-logo {
    font-size: 30px;
    font-weight: 500;
}