* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

.header {
    display: flex;
    flex-basis: 100%;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 20px 150px 20px 150px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

.navigation a {
    color: #F9FAF8;
    text-decoration: white;
} 

.header-logo {
    font-size: 30px;
    font-weight: 500;
}

.hero {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    padding: 80px 150px 80px 150px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
}

.hero img {
    width: 600px;
    height: 300px;
}

.main-hero-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    width: 100px;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

