* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

.header {
    display: flex;
    flex-basis: 100%;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 30px;
}